Doker/Docker на практике [2020] Эйдан Хобсон Сейерс, Иан Милл.pdf
Doker/docker_cheatsheet_r3v2.pdf
Doker/Вэбинар по докеру.docx
Doker/Docker на практике [2020] Эйдан Хобсон Сейерс, Иан Милл.pdf
GIT/Chakon_S__Shtraub_B_-_Git_dlya_professionalnogo_programmista_Biblioteka_programmista_-_2016.pdf
GIT/progit_ru.pdf
intellij_idea/.~lock.*
